### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

node_modules/
go-ipfs/
go-ipfs_v0.18.1_linux-amd64.tar.gz


### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
.idea/
### Mac OS ###
.DS_Store
